.responsive {
    max-width: 100%;
    height: auto;
}
.responsive2 {
    max-width: 60%;
    height: auto;
}
#container {
    background: #7968ae;
    width: 900px;
    margin-left: auto;
    margin-right: auto;   
    font: 20px verdana, "sans serif", tahoma;
    overflow: hidden;
    }