h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet;
}
body {
    background-color: lightyellow;
    color: darkblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    line-height: 45px;
}
h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightseagreen;
    font-size: 25px
}
